body {
    background-image: url('Biriyani1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f5f5f5;
  }
  ul {
    position: sticky;
    top: 0;
    width: 100%;
    border: 1px solid #666;
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
  li {
    font-family: 'Trirong', serif;
    float: left;
  }
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #04AA6D;
  }

    li a {
      display: block;
      color:#e7e7e7;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
 
  h1 {
    font-family: 'Garamond', serif;
    color:white; 
    font-size: 3vw;
  }
  p {
    font-family: 'Trirong', serif;
    font-size: 2vw;
    color:white;
    }